body {
  font-family: Arial;
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
}

li {
  list-style: none;
  margin: 10px;
  background: lightgray;
  padding: 10px;
}
